.App {
  width: 100%;
}
*{
  margin: 0;
  padding: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header{
  background-color: rgb(151, 3, 3);
  width: 100%;
  display: flex;
  justify-content:space-around;
}
body{
  background-color: rgb(220, 254, 255);

}
.logo{
  width: 35%;
  height: auto;
  margin:20px;
}
.logo img{
  width: 100%;
  height: 100%;
  border-radius: 30px;
  box-shadow: 2px 2px 2px rgb(216, 85, 85);
}
.texto{
  margin: 20px;
  color: aliceblue;
  font-size: 100px;
  text-align: center;
  border: 2px solid;
  border-color: aliceblue;
  border-radius: 10px;
  background-color: rgb(164, 50, 50);
}
.texto h1{
  font-size: 60px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.texto h2{
  color: blue;
  font-size: 50px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.intro{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: orangered;
  padding: 30px;
  border: 2px solid;
  border-color: aliceblue;
  border-radius: 30px;
  box-shadow: 5px 5px 5px aliceblue;
}
.intro h2{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  color: aliceblue;
}
.introduction{
  display: flex;
  width: 100%;
}

.text-introduction{
  width: 60%;
  margin: 30px;
  background-color: yellow;
  border: 2px solid;
  border-color: aliceblue;
  border-radius: 20px;
  padding: 20px;
  height: max-content;
  box-shadow: 2px 2px 2px gray;
}
.text-introduction span{
  font-size: 20px;
  color: orangered;
}
.text-introduction h1{
  color: red;
}
.ambulancia{
  width: 75%;
  height: auto;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.ambulancia img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.saludIntroduction img{
  width: 100%;
  height: 100%;
}
.saludIntroduction{
  width: 60%;
  padding: 20px;
}
.contactWhatsapp{
  background-color: green;
  text-align: center;
  width: 150px;
  border-radius: 20px;
}
.contactWhatsapp a{
  color: aliceblue;
  text-decoration: none;
}


.cards{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  padding: 20px;
}
.cards h3{
  color: blue;
}
.card-one{
  width: 70%;
  height: 100%;
  background-color: rgb(132, 221, 224);
  padding: 20px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 2px gray;
}
.card-two{
  width: 70%;
  height: 100%;
  background-color: rgb(58, 227, 233);
  padding:20px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 2px gray;
}
.imageCard img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 2px 2px 2px gray;
}
.imageCard{
  width: 90%;
  height: 250px;
  margin: auto;
  margin-bottom: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.slider{
  width: 100%;
  color: red;
  text-align: center;
  padding: 20px;
}
.slider h1{
  font-size: 80px;
}
#carouselExampleControls{
  border-style: solid;
  border-color: red;
  
}

.eventos{
  color: red;
  text-align: center;
}
.imagenes img{
  width: 100%;
  height: 100%;
  border-radius: 500px;
}
.imagenes{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 15px;
  width: 100%;
}

.videos{
  width: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}


.contact{
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  background-color: gray;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  font-size: 30px;
  color: red;
  text-decoration: none;
}
.contact a{
  text-decoration: none;
  color: red;
}

.contact img{
  width: 70px;
  height: 70px;
  padding: 10px;
}
video{
  border-radius: 100px;
}
.correo{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: aquamarine;
  color: blue;
  text-align: center;
  padding: 20px;
  font-size: 25px;
  border-radius: 50px;
  text-decoration: none;
}

@media (max-width: 600px){
  .header{
    display: block;
  }
  .texto h1{
    text-align: center;
  }
  .header h1{
    font-size: 50px;
  }
  .header span{
    padding: 10px;
  }
  .logo img{
    width: 100%;
    height: 50%;
  }
  .cards{
  grid-template-columns: repeat(2, 1fr);
  }
  .slider h1{
    font-size: 60px;
  }
  .imagenes{
  grid-template-columns: repeat(1, 1fr);
  }
  .correo{
    width: 90%;
  }
  .correo span{
    font-size: 17px;
    text-decoration: none;
  }
  .ambulancia{
    width: 100%;
  }
  .salud{
    width: 100%;
    margin-left: -10px;
  }
  .text-introduction{
    margin-top: -250px;
    margin-left: auto;
  }
}